html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Hind Siliguri', sans-serif;
	background: linear-gradient(#00264C,#0F5498);
	color: #0F5498;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
a{
	text-decoration: none;
	color: #0F5498;
}

#title{
	margin: 60px 0 20px 0;
	text-align: center;
}
#title h1{
	margin: 0;
	text-shadow: 0.5px 0.5px black;
}

.main{
	display: flex;
	max-width: 1000px;
	margin: auto;
	height: 100%;
}
.main>i{
	font-size: 100px;
	margin: 100px 20px;
}
.main>i:hover{
	box-shadow: 1px 1px -1px -1px white;
	cursor: pointer;
}
.content{
	border: 1px solid #0F5498;
	width: 70%;
	background: #D3E8E8;
	border-radius: 3px;
	margin: auto;
}
.graph{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
.graph h4, .graph h5{
	margin: 0;
}

.social{
	display: flex;
	font-size: 40px;
	padding: 10px;
	justify-content: space-around;
	 -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.social:before{
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.social i:hover, i:active{
	color: #014F0E;
	cursor: pointer;
	-webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

footer{
	background: #00264C;
	color: #0F5498;
	position: absolute;
	width: 100%;
	clear: both;
	top: 90%;
}

#learnMore{
	color: #0F5498;
	width: 70%;
	margin: auto;
	height: 100%;
}


